<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        <title> Scheduled Cargo </title>
        <style>
            .cargo-lane {
                min-height: 200px;
                width: 45%;
                padding: 10px;
                border: 1px solid #000;
                float: left;
                margin-right: 10px;
            }
            
            .cargo-card {
                padding: 10px;
                background-color: #f0f0f000;
                border: 1px solid #ccc;
                margin-bottom: 10px;
            }
        </style>
    </head>

    <body >

        <header>
            <%- include('../partials/header'); %>
        </header>

        <main>
            <div class="container-fluid my-5">
                <div class="cargo-lane">
                    <h2>Cargo In Transit</h2>
                    <% cargoList.filter(c => !c.arrival).forEach(cargo => { %>
                        <div id="cargo-<%= cargo.id %>" class="cargo-card">
                            <%= cargo.cargotype %> - <%= cargo.weight %> tons |  Aboard: Ship <%= cargo.shipid %> | <strong> Departed on: <%= cargo.departure %> </strong>
                        </div>
                    <% }); %>
                </div>

                <div class="cargo-lane">
                    <h2>Cargo Arrived</h2>
                    <% cargoList.filter(c => c.arrival).forEach(cargo => { %>
                        <div id="cargo-<%= cargo.id %>" class="cargo-card">
                            <%= cargo.cargotype %> - <%= cargo.weight %> tons |  Delivered by: Ship <%= cargo.shipid %> | Departed on: <%= cargo.departure %> | <strong> Arrived on: <%= cargo.arrival %> </strong>
                        </div>
                    <% }); %>
                </div>
            </div>
        </main>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>

    </body>
</html>

<!--
                    <form id="todo-form">
                    <input type="text" placeholder="New TODO..." id="todo-input" />
                    <button type="submit">Add +</button>
                </form>
            
                <div class="lanes">
                    <div class="swim-lane" id="todo-lane">
                    <h3 class="heading">Cargo</h3>
            
                    <p class="task" draggable="true">Get groceries</p>
                    <p class="task" draggable="true">Feed the dogs</p>
                    <p class="task" draggable="true">Mow the lawn</p>
                    </div>
            
                    <div class="swim-lane">
                    <h3 class="heading">Doing</h3>
            
                    <p class="task" draggable="true">Binge 80 hours of Game of Thrones</p>
                    </div>
            
                    <div class="swim-lane">
                    <h3 class="heading">Done</h3>
            
                    <p class="task" draggable="true">
                        Watch video of a man raising a grocery store lobster as a pet
                    </p>
                    </div>
-->
