<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        <title> Scheduled Cargo </title>
    </head>

    <body >

        <header>
            <%- include('../partials/header'); %>
        </header>

        <main>
            <div class="container-fluid my-5">
                <h1>Shopping Carts</h1>
                <div class="container">
                    <ul>
                        <% carts.forEach(function(cart) { %>
                            <li>Cart <%= cart.id %> Average: $<%= cart.cartAverage %></li>
                        <% }); %>
                    </ul>
                </div>
            </div>
        </main>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>

    </body>
</html>